<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/lambent.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="https://github.com/ttdoucet">github.com/ttdoucet</a></li>
   </ul>
  </footer>
  </body>

</html>
